* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* same for allproducts */
.products-container {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}
.product {
  width: 50%;
  padding-top: 30px;
  text-align: center;
  height: 550px;
}
.product .description {
  margin: 10px 0;
  font-size: 1.1rem;
}

.product3 {
  background: url(../images/home/apple-tv-background.jpg) no-repeat bottom;
}
.product3 .description {
  padding: 180px 0;
  text-align: center;
}
.watch-link {
  color: #06c;
}

.products-container .product4 {
  background: #000 url(../images/home/air-pods.jpg) no-repeat bottom;
  color: #fff;
}
.product4 .links a:hover {
  color: #fff;
}
.product5 {
  background: #fafafa url(../images/home/macbook-pro.jpg) no-repeat bottom;
}
.product6 {
  background: url(../images/home/new-ipad.jpg) no-repeat bottom;
}
/* second section style and third section stylestart here */
.second-section-wrapper {
  background-image: url(../images/home/iphone11-pro-bg.jpg);
  color: #fafafa;
}

.third-section-wrapper {
  background-image: url(../images/home/iphone11-bg.jpg);
  color: #020000;
}
.second-section-wrapper,
.third-section-wrapper {
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 60px 20px;
}

.title {
  font-weight: 600;
  font-size: 55px;
}

.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}

.price-wrapper {
  color: #86867b;
  font-size: 18px;
}

/* fourth section style start here  */
.fourth-section-wrapper,
.fifth-section-wrapper,
.sixth-section-wrapper {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.right-side-wrapper,
.left-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 1% 0% 0.5%;
  padding-top: 54px;
}

.fourth-section-wrapper .left-side-wrapper {
  background-image: url("../images/home/apple-card.jpg");
}

.fourth-section-wrapper .right-side-wrapper {
  background-image: url("../images/home/watch-series-5.jpg");
}

.description-wraper {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
}
